<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="logo">Geoclipse</div>
        <ul class="nav-links">      
          
          <li><a href="/home" th:href="@{/home}">Torna indietro alla Home</a><li>  
        </ul>
      </nav>
    </header>
    
    <main>
        <h1 class="page-title">Allenamento</h1>
        <p class="subtitle">Scegli il tipo di allenamento che preferisci e metti alla prova le tue conoscenze!</p>
        
        <div class="quiz-container">
            <div class="quiz-card">
                <span class="quiz-icon countries-icon">🏛️</span>
                <h2>Allenamento Capitali</h2>
                <p>Metti alla prova e allena la tua conoscenza delle capitali, popolazione e caratteristiche geografiche dei paesi del mondo.</p>
                <a href="/training_capitali" class="quiz-button">Inizia L'allenamento Capitali</a>
            </div>

            <div class="quiz-card">
                <span class="quiz-icon flags-icon">🏳️</span>
                <h2>Allenamento Bandiere</h2>
                <p>Allenati con le bandiere di tutti i paesi del mondo e scopri la storia dietro i loro colori e simboli.</p>
                <a href="/training_bandiere" class="quiz-button">Inizia L'allenamento Bandiere</a>
            </div>
        </div>
    </main>
    
 
</body>
</html>