<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Paesi</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
</head>
<body>
  <main class="container">
    <h1>Lista Paesi</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
          <th>Capital</th>
          <th>Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="paese : ${paesi}">
          <td th:text="${paese.name}"></td>
          <td th:text="${paese.region}"></td>
          <td th:text="${paese.capital}"></td>
          <td>
            <img th:src="${paese.flag}" th:alt="${paese.name + ' flag'}" width="50"/>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>